block meta
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

block style
  style(src="css/style.css")

block title
  title タイトルタグはJadeでブロック化しています。