// navigation.jade
nav#navigation
  p.navigationTitle _navigation.jade
  p
    | このナビ部分は_
    br
    | navigation.jadeを
    br
    | includeしています↓↓
  ul
    li
      a(href="#") Navigation01
    li
      a(href="#") Navigation02
    li
      a(href="#") Navigation03
    li
      a(href="#") Navigation04
    li
      a(href="#") Navigation05
    li
      a(href="#") Navigation06
    li
      a(href="#") Navigation07
    li
      a(href="#") Navigation08
// /navigation.jade