- var metas = {}
- metas.title = 'JADEテストページですっ！（ここは変数metas.titleです）'
- metas.url = 'hogehoge.jp/'
- metas.image = 'image'
- metas.site_name = 'JADEテンプレートのご紹介'
- metas.description = 'これはテストページです。jadeテンプレートエンジンを使用してくみ上げてみました。'
- metas.keywords = "jade,test,テストページ,フロントエンド"
- metas.author = 'T.Hizaki'
- metas.charset = 'UTF-8'
- metas.viewport = 'width=device-width'
- metas.httpequiv = 'IE=edge,chrome=1'